@use './reset';

$brk: 600px;

:root {
  /* Colors */
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-accent-500: hsl(158, 36%, 37%);
  --clr-accent-900: hsl(158, 36%, 20%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(228, 12%, 48%);
  --clr-neutral-900: hsl(212, 21%, 14%);

  /* Typography */
  --fs-body: 1rem;
  --fs-title: 2rem;

  --ff-title: 'Fraunces', sans-serif;
  --ff-body: 'Montserrat', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  display: grid;
  place-content: center;
  padding: 1rem;

  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-500);

  font-size: var(--fs-body);
  font-family: var(--ff-body);
}

.card {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--clr-neutral-100);

  &__img img {
    object-fit: cover;
  }

  &__content {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
  }

  &__category {
    text-transform: uppercase;
    letter-spacing: 0.6ch;
  }

  &__title {
    font-size: var(--fs-title);
    line-height: 1;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
    font-family: var(--ff-title);
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    .card__old-price {
      text-decoration: line-through;
    }

    .card__price {
      font-family: var(--ff-title);
      font-weight: var(--fw-bold);
      font-size: var(--fs-title);
      color: var(--clr-accent-500);
    }
  }

  &__button {
    border-radius: 0.5rem;
    padding: 1em;
    border: none;
    background-color: var(--clr-accent-500);
    color: var(--clr-neutral-100);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

    transition: background-color 250ms ease;
    cursor: pointer;

    &::before {
      content: url('./images/icon-cart.svg');
      display: inline-block;
      height: 20px;
    }

    &:is(:hover, :focus) {
      background-color: var(--clr-neutral-900);
      color: var(--clr-neutral-100);
    }
  }
}

@media (min-width: $brk) {
  .card {
    grid-template-columns: 1.1fr 1fr;
    max-width: 700px;

    &__img img {
      height: 100%;
    }

    &__content {
      padding: 2rem;
      gap: 2rem;
    }
  }
}
